# This work is licensed under a Creative Commons Attribution 4.0 International License. http://creativecommons.org/licenses/by/4.0/
[Unit]
Description=PingLamp
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/YOURUSER/pinglamp.py
WorkingDirectory=/home/YOURUSER
StandardOutput=inherit
StandardError=inherit
Restart=always
User=YOURUSER

[Install]
WantedBy=multi-user.target
